<div class="card-list-container py-5">
  <% post_movies.each do |post_movie| %>
    <div class="card w-50 mx-auto mt-4 shadow-lg">
      <%= link_to post_movie_path(post_movie.id) do %>
        <%= image_tag post_movie.get_image, class: "card-img-top"; %>
      <% end %>
      
      <div class="card-body">
        <div class="row">
          <div class="col-2">
            <%= image_tag post_movie.user.get_profile_image(100,100), class: "mt-3 rounded-circle"; %>
          </div>
          <div class="col-10">
            <p class="card-title">
              <%= link_to(post_movie_path(post_movie.id), class: "text-dark") do %>
                <strong><i class="fa-sharp fa-solid fa-clapperboard-play"></i><span> <%= post_movie.movie_name %></span></strong>
              <% end %>
            </p>
            <p class="card-text"><i class="fa-light fa-popcorn"></i> <%= post_movie.caption %></p>
            <span><i class="fas fa-user"></i> <%= post_movie.user.name %> | </span>
            <spanp><%= link_to "#{post_movie.movie_comments.count} コメント", post_movie_path(post_movie.id), class: "text-dark" %></spanp>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <!--ページャの実装の記述-->
  <%= paginate post_movies %>
</div>