<div class="container">
  <div class="row no-gutters">
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto shadow-lg rounded px-0 my-5">
      <h4 class="text-dark bg-light p-4 mb-0">映画投稿フォーム</h4>
      <div class="form-body p-4">
        <!--バリデーションによるエラーメッセージの記述-->
        <% if @post_movie.errors.any? %>
          <ul class="alert alert-danger" role="alert">
            <h6 class="alert-heading">
              <%= @post_movie.errors.count %>件のエラーが発生しました
            </h6>
            <% @post_movie.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>

        <%= form_with model: @post_movie do |f| %>
          <h5>画像</h5>
          <%= f.file_field :image, accept: "image/*", class: "w-100" %>
          <div class="input-group mb-3 mt-4">
            <div class="input-group-prepend">
              <span class="input-group-text" aria-hidden="true"><i class="fas fa-film"></i></span>
            </div>
            <%= f.text_field :movie_name, class: "form-control", placeholder: "映画タイトル" %>
          </div>
          <%= f.text_area :caption, class: "form-control", rows: "3", placeholder: "感想など" %>
          <br>
          <%= f.submit '投稿', class: "btn btn-lg btn-block btn-info mt-4" %>
        <% end %>
      </div>
    </div>
  </div>
</div>