<div class="card-list-container py-5">
  <div class="card w-50 mx-auto mt-4 shadow-lg">
    <%= image_tag @post_movie.get_image, class: "card-img-top"; %>

    <div class="card-body">
      <div class="row">
        <div class="col-2">
          <%= image_tag @post_movie.user.get_profile_image(100,100), class: "mt-3 rounded-circle"; %>
        </div>
        <div class="col-10">
          <p class="card-title">
            <strong><i class="fa-sharp fa-solid fa-clapperboard-play"></i><span> <%= @post_movie.movie_name %></span></strong>
          </p>
          <p class="card-text"><i class="fa-light fa-popcorn"></i> <%= @post_movie.caption %></p>
          <span><i class="fas fa-user"></i> <%= @post_movie.user.name %> | </span>
          <spanp>投稿日：<%= @post_movie.created_at.strftime('%Y/%m/%d') %></spanp>
        </div>
      </div>
    </div>


    <% if @post_movie.user == current_user %>
      <%= link_to "削除", post_movie_path(@post_movie), method: :delete %>
    <% end %>
    <!--いいね機能についての記述-->
    <% if @post_movie.favorited_by?(current_user) %>
      <p>
        <%= link_to post_movie_favorite_path(@post_movie), method: :delete do %>
          ♥<%= @post_movie.favorites.count %> いいね
        <% end %>
      </p>
      <% else %>
      <p>
        <%= link_to post_movie_favorite_path(@post_movie), method: :post do %>
          ♡<%= @post_movie.favorites.count %> いいね
        <% end %>
      </p>
    <% end %>


  <!--コメントについての記述-->
  <div>
    <p>コメント件数:<% @post_movie.movie_comments.count %></p>
    <% @post_movie.movie_comments.each do |movie_comment| %>
      <p><%= image_tag movie_comment.user.get_profile_image(100,100) %></p>
      <%= movie_comment.user.name %>
      <%= movie_comment.created_at.strftime('%Y/%m/%d') %> <%= movie_comment.comment %>
      <% if movie_comment.user == current_user%>
        <%= link_to "削除", post_movie_movie_comment_path(movie_comment.post_movie, movie_comment), method: :delete %>
      <% end %>
     <% end %>
  </div>
  <!--コメント投稿フォーム-->
  <div>
    <%= form_with model: [@post_movie, @movie_comment] do |f| %>
      <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
      <%= f.submit "送信する" %>
    <% end %>
  </div>

    </div>
  </div>